@import "variable";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  font-family: 'Nunito';
}

button, a { 
  text-decoration: none;
}

img {
  height: auto;
  display: block;
}
