@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXX3I6Li01BKofIMNaHRs71cA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v22/8vIH7w4qzmVxm25L9Hz_.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXX3I6Li01BKofIMNaHRs71cA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v22/8vIH7w4qzmVxm25L9Hz_.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Nunito";
}

button, a {
  text-decoration: none;
}

img {
  height: auto;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: #3B3B3B;
  background-color: #fff;
  line-height: 1.6;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 208px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  padding: 8px 14px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.button--primary {
  background-color: #563654;
  color: #fff;
}
.button--secondary {
  background-color: #fff;
  border: 2px solid #563654;
  color: #563654;
}
.button--cta {
  background-color: #FF8F50;
  color: #342E34;
  text-decoration: none;
  padding: 16px 48px;
}

.header {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 12px 16px;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header__logo span {
  font-family: "Nunito", sans-serif;
  color: #622F60;
  font-weight: 900;
  margin-left: 4px;
}
.header__logo img {
  height: 32px;
}
.header__nav .nav__list {
  display: none;
}
.header .nav__link {
  color: #3B3B3B;
  font-weight: 500;
  text-decoration: none;
}
.header .nav__link:hover {
  color: #F68B4D;
}

.hero {
  background-image: url("/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 5rem 2rem;
  text-align: center;
  color: #fff;
}
.hero__title {
  font-size: 2.5rem;
  font-weight: 700;
}
.hero__subtitle {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.intro {
  padding: 0 32px;
  text-align: center;
}
.intro.intro__container {
  margin-bottom: 40px;
}
.intro.intro__container .intro__title {
  color: #FF8F50;
  font-family: "Syne";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.intro.intro__container.intro__text {
  color: #6B7D8D;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}
.intro button {
  background-color: #FAF7F5;
  border: 1px solid rgba(98, 47, 96, 0.1607843137);
  border-radius: 208px;
  color: #342E34;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 14px;
  text-decoration: none;
}

.filters {
  display: none;
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 1rem;
  width: 260px;
}
.filters__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.filters__block {
  margin-bottom: 2rem;
}
.filters__block-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}
.filters__list {
  list-style: none;
  padding: 0;
}
.filters__item {
  margin-bottom: 0.5rem;
}
.filters__input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}
.filters__more {
  color: #F68B4D;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
}

.cards {
  flex: 1;
  padding-left: 2rem;
}
.cards__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.cards__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}

.card {
  background: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__image {
  position: relative;
}
.card__image img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__image .card__tag {
  border-radius: 208px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #FF8F50;
  color: #342E34;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
}
.card__location {
  font-size: 0.85rem;
  color: #777;
  margin: 16px;
}
.card__location span {
  color: #622F60;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}
.card__title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.card__price {
  color: #3B3B3B;
  font-weight: bold;
  margin: 0.5rem 0;
}
.card__actions {
  align-items: center;
  background-color: #FBF6F4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
}
.card__actions .card__link {
  color: #622F60;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: underline;
}
.card__actions .card__link::after {
  content: ">";
  transform: rotate(90deg);
  color: #622F60;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.card__actions .button--secondary {
  background-color: #fff;
  border: 1px solid #622F60;
  color: #622F60;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 24px;
}

.explorer__container {
  display: flex;
  gap: 2rem;
  padding: 3rem 2rem;
}

.footer__container {
  align-items: center;
  background-color: #FAF7F5;
  display: inline-flex;
  padding: 48px;
  justify-content: flex-start;
  width: 100%;
}
.footer__container span {
  font-family: "Nunito", sans-serif;
  color: #622F60;
  font-weight: 900;
  margin-left: 4px;
}
.footer__copy {
  background-color: #E0D9E0;
  text-align: center;
  color: #622F60;
  font-size: 14px;
  font-family: "Nunito";
  font-weight: 700;
  line-height: 20px;
  padding: 16px;
}/*# sourceMappingURL=style.css.map */